In [14]:
a=10
b=20
print(a+b)

30

# Markdown은 설명을 적는 곳이다
맨 앞에 '#'을 하면 큰 제목이 됨
파이썬 첫번째 예제

In [16]:
a=10
b=4

In [17]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

14
6
40
2.5
2
2
10000

더하기
빼기
곱하기
나누기
몫
나머지
제곱

In [18]:
a+=1;print(a)
a-=1;print(a)

11
10

In [19]:
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
False
True
True
False

In [20]:
print(a,b)

10 4

1010
8421

a=1010
b=0100

In [24]:
print(a&b)
print(a|b)
print(a^b)
print(~a+1)
print(a<<2)
print(a>>2)

0
14
14
-10
80
2

양수 비트를 반전시키면 -0이 없어서 -11이 됨 
a<<2 오른쪽으로 2비트 민다
10100 1비트만 밀었을때
101000 2비트 밀었을때
2에 2승을 곱한 것과 같음
a<<3은 2에 3승을 곱한 것 즉 8을 곱한 것임
a>>2
0101
0010

In [25]:
print(a>5 and b<5)
print(a>5 and b>5)
print(a>5 or b<5)
print(not(a>5 or b<5))
print(a<5 or b>5)
print(not(a<5 or b>5))

True
False
True
False
False
True

In [26]:
b=float(a)
print(a,b)
c=int(a)
print(a,b,c)

10 10.0
10 10.0 10

In [27]:
print(a/3)

3.3333333333333335

In [29]:
print(1==True)
print(0==False)

True
True

In [30]:
a='25.6'
b="55.6"
fa=float(a)
fb=float(b)
print(a,b,fa,fb)
print(type(a),type(fa))

25.6 55.6 25.6 55.6
<class 'str'> <class 'float'>

In [33]:
print(a+' '+b)
print(a+b)
print (fa+fb)

25.6 55.6
25.655.6
81.2

print(a+fb) 에러 뜸 타입이 같은 것끼리 연산 가능

In [34]:
s1="*"
print(s1*10)

**********

In [36]:
s2="abcd"
print('a' in s2)
print('a' not in s2)

True
False

sql in 느낌

In [37]:
name=input("이름을 입력하세요")
print(name)

유다인

입출력 실습하기

In [38]:
c=float(input("섭씨 온도를 입력하세요"))
f=(c*1.8)+32
print("섭씨 온도:",c)
print("화씨 온도:",f)

섭씨 온도: 32.2
화씨 온도: 89.96000000000001

In [45]:
a=5
if(a==5):
    print("Right")
    print("a is 5")

else:
    print("a is not",a)

print("********")

Right
a is 5
********

In [48]:
score=float(input("점수 입력"))

if(score>=90):
    print("A등급")
elif(score>=80):
    print("B등급")
elif(score>=70):
    print("C등급")
elif(score>=60):
    print("D등급")   
else:
    print("F등급")

C등급

In [52]:
#평균이 70점 이상이고, 각 과목의 점수는 60점 이상이면 합격
score1=float(input("점수1"))
score2=float(input("점수2"))

avg=(score1+score2)/2

if(avg>=70 and score1,score2>=60):
    print("평균:",avg," 합격")
else:
    print("평균:",avg,"불합격")

평균: 70.0  합격

In [56]:
#평균이 70점 이상이거나, 각 과목의 점수는 60점 이상이면 합격
score1=float(input("점수1"))
score2=float(input("점수2"))

avg=(score1+score2)/2

if(avg>=70 or score1,score2>=60):
    print("평균:",avg," 합격")
else:
    print("평균:",avg,"불합격")

평균: 70.0  합격

In [66]:
#응용예제2

year=float(input("당신이 태어난 연도를 입력하세요."))
age=2024-year+1
if(20<=age<=26):
    print("대학생")
elif(17<=age<20):
    print("고등학생")
elif(14<=age<17):
    print("중학생")
elif(8<=age<14):
    print("초등학생")
else:
    print("학생이 아닙니다.")

초등학생